.cta-btn {
  max-width: 23.75rem;
  display: flex;
  align-items: center;
  background-color: #faf5f3;
  gap: 1rem;
  padding: 1.3438rem 1.4375rem;
  box-shadow: inset 0 0 0 2px #062630;
  border-radius: 0.5rem;
}

.cta-btn > span {
  color: #062630;
  font-size: clamp(1rem, 2.5dvw, 1.125rem);
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.0625rem;
  text-transform: uppercase;
  font-family: 'Martian Mono';
}
