.header-container {
  padding: 1.5rem 1rem;
  padding-bottom: 5rem;
  background-color: #fff5ef;
  background-image: url('../../assets/images/pattern-light-bg.svg'),
    url('../../assets/images/pattern-glow.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 0%, calc(-50% + 15.625rem) calc(100% + 31.25rem);
}

@media (min-width: 48rem) {
  .header-container {
    padding: 2rem;
    padding-bottom: 5rem;
    background-repeat: repeat, no-repeat;
    background-position: 0% 0%, calc(30% + 15.625rem) calc(100% + 31.25rem);
  }
}
