.footer-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 1rem 0 1rem;
  background-color: var(--clr-neutral-900);
  background-image: url('../../assets/images/pattern-dark-bg.svg');
  border-radius: 1rem 1rem 0 0;
  color: var(--clr-neutral-100);
}

.footer-main-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.footer-main-content > h2 {
  font-family: var(--ff-headings);
  font-size: clamp(2.125rem, 6.6dvw, 3.125rem);
  line-height: 1.3;
  letter-spacing: -0.125rem;
  font-weight: var(--fw-semibold);
  text-align: center;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.copy-media-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
}

.footer-separation-line {
  width: calc(100%);
  position: absolute;
  height: 0.0625rem;
  top: 0;
  background-color: var(--clr-neutral-700);
}

.copy-media-container > small {
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.0625rem;
  font-family: var(--ff-headings);
}

.media-links-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  list-style: none;
}

.media-link:hover > svg > path {
  fill: var(--clr-neutral-700);
}

.media-link:focus > svg > path {
  fill: var(--clr-neutral-700);
}

.media-link:focus {
  outline: 0.125rem solid var(--clr-neutral-200);
  outline-offset: 0.1875rem;
}

@media (min-width: 48rem) {
  .footer-section {
    padding: 4rem 2rem 0 2rem;
  }

  .footer-main-content {
    align-items: center;
  }

  .footer-separation-line {
    width: calc(100% + 4rem);
    transform: translateX(-2rem);
  }

  .copy-media-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 64rem) {
  .footer-section {
    padding: 5rem 2rem 0 2rem;
  }

  .footer-main-content {
    max-width: 47.0625rem;
    align-self: center;
  }

  .footer-separation-line {
    width: calc(100%);
    transform: translateX(0rem);
  }
}

@media (min-width: 90rem) {
  .footer-section {
    padding: 5rem 8.4375rem 0 8.4375rem;
  }
}
