.memberships-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem 1rem 0 1rem;
}

.memberships-section > h2 {
  font-family: var(--ff-headings);
  font-size: clamp(2.125rem, 6.55dvw, 3.125rem);
  line-height: 1.3;
  letter-spacing: -0.125rem;
  color: var(--clr-neutral-900);
}

.membership-options-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 48rem) {
  .memberships-section {
    padding: 5rem 2rem 0 2rem;
    gap: 2.5rem;
  }

  .membership-options-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64rem) {
  .memberships-section {
    max-width: 60.625rem;
    gap: 4rem;
    margin: 0 auto;
    padding: 7.5rem 0 0 0;
  }

  .memberships-section > h2 {
    text-align: center;
  }

  .membership-options-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

@media (min-width: 90rem) {
  .membership-options-wrapper {
    grid-template-columns: 1fr 21.875rem 1fr;
  }
}
